.container{
    background-color: #9E9E9E;
}

button{
    border-radius: 15px;
}
.section{
    background-color: #4f4f4f;
    border-radius: 10px;
    font-style: italic;
}
.message{
    font-size: 15px;
}